<div class='container'>
  <h1 class='snapscan'>Welcome to BudgetApp!</h1>
  <div class='auth-container'>
    <%= link_to 'LOG IN', new_user_session_path, :class => 'log-in' %>
    <%= link_to 'SIGN UP', new_user_registration_path, :class => 'sign-up' %>
  </div>
</div>
